﻿@using CustomersAJAX.Models
@model Tuple<List<Customer>, Customer>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("OnSelectCustomer","Customer"))
{
    @Html.AntiForgeryToken();
    var selected = false;

    foreach(var customer in Model.Item1)
    {
        if (Model.Item1.IndexOf(customer) == 2)
        {
            selected = true;
        }
        else
        {
            selected = false;
        }
        @Html.RadioButton("CustomerNumber", customer.ID, selected);
        @Html.Label(customer.Name);
        <br/>
    }
    <input type="submit" id="SubmitButton" value="Display Details"/>
}

<div id="customerInfo">
    @Html.Partial("~/Views/Shared/_CustomerDetails.cshtml", Model.Item2)
</div>