﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Blog.master.cs" Inherits="Day03Blog.Blog" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <form id="form1" runat="server">
        <div id="centeredContent">
            <%if (!string.IsNullOrEmpty(Session["username"] as string))
            {%>
                <div class="divright">Yor are logged in as {{ user.username }}</div>;
                <div class="divright">You can <a href="/logout">logout</a> or <a href="/articleaddedit">post an article</a></div>;
            <%}else{%> 
                <div class="divright">you can <a href="/login">Login</a> or <a href="/register">Register</a> to post articles or comments</div>
            <%}%> 
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
    <div id="footer" class="divright">
        &copy; Copyright 2020 by <a href="/"> JIAN</a>.
    </div>
</body>
</html>
