﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Blog.Master" AutoEventWireup="true" CodeBehind="login.aspx.cs" Inherits="Day03Blog.login" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <title>Login</title>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="inner-warp">
        <label for="username">Username</label>
        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        <br/>
        <label for="password">Password</label>
        <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
    </div>
    <div class="divcenter">
        &nbsp;<asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Login" />
&nbsp;<input type="button" id="home" name="home" value="Home" onclick="window.location.href = '/';"/>
    </div>
</asp:Content>
